# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
                
    - name: SwiftBuild by SwiftActions
  # You may pin to the exact commit or the version.
  # uses: SwiftActions/SwiftBuild@40c05d952e75170475d74073985e7f2a9d0eadf8
  uses: SwiftActions/SwiftBuild@0.2
  with:
    # Build the specified target
    target: # optional, default is ""
    # Build the specified product
    product: # optional, default is ""
    # Increase verbosity to include informational output
    verbose: # optional
          
